<%= form_tag(answer_path, :method => "get", class: "navbar-form", id: "search-form") do %>
<div class="input-append">
	<div class="input-stuff">
  		<%= text_field_tag :product, params[:product], class: "product-search", placeholder: "Search Products" %>
 
  		<button class="btn" type="submit">Search</button>
  	</div>
</div>
<% end %>
<%= yield %>



